<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Building Good Mathematicians.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B6A48341F36C0B80063DBF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6A48481F36C0B90063DBF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6A48531F36C0B90063DBF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
